{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routtip</title>
    <link rel="stylesheet" href="{% static 'routrip/css/style.css' %}">
</head>
<body>
<header>
    <h1><a class="logo" href="{% url 'routrip:top_page' %}">Routtip</a></h1>
    <nav>
        {% if user.is_authenticated %}
            <span>{{ user.username }}さん</span>
            <a href="{% url 'routrip:top_page' %}">トップページ</a>
            <a href="#">マイページ</a>
            <a href="#">ログアウト</a>
        {% else %}
            <a href="{% url 'routrip:top_page' %}">トップページ</a>
            <a href="{% url 'routrip:login' %}">ログイン</a>
            <a href="{% url 'routrip:signup' %}">サインアップ</a>
        {% endif %}
   </nav>  
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
<p>利用規約・お問い合わせ</p>
<p>&copy; @Routtip</p>
</footer>

</body>
</html>