{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>000</title>
    <link rel="stylesheet" href="{% static 'routrip/css/style.css' %}">
</head>
<body>
<header>
    <nav>
        <a class="logo" href="#">000</a>
       <ul class="nav-links">
            <li><a href="#">ホーム</a></li>
            {}
                <li><a href="{% url 'routrip:login' %}">ログイン</a></li>
                <li><a href="{% url 'routrip:signup' %}">サインアップ</a></li>
            {}
                <li><a href="#">マイページ</a></li>
                <li><a href="#">ログアウト</a></li>
       </ul> 
    </nav>   
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
<p>利用規約・お問い合わせ</p>
<p>&copy; @Routtip</p>
</footer>

</body>
</html>