<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>000</title>
    <!--css読み込み用-->
    <link rel="">

</head>
<body>
    <header>
        <nav>
           <a class="logo" href="#">000</a>
           <ul class="nav-links">
                <li><a href="#">ホーム</a></li>
                <li><a href="#">ログイン</a></li>
                <li><a href="#">サインアップ</a></li>
                <li><a href="#">マイページ</a></li>
           </ul> 
        </nav>   
    </header>
    
</body>
</html>